In [1]:
fruits = ["orange", "kiwi", "banana"]
for f in fruits:
 print(f)

orange
kiwi
banana

In [2]:
for car in ['bnw','ford','benz','gmc']:
    print(car, end =' ')
    print(car)

bnw bnw
ford ford
benz benz
gmc gmc

In [3]:
mylist = [1,2,3,4]
for num in mylist:
    print(num**2)

1
4
9
16

In [4]:
for num in mylist:
    print(num,end=" ")

1 2 3 4

In [5]:
for num in mylist:
    print( "i love you Tabitha")

i love you Tabitha
i love you Tabitha
i love you Tabitha
i love you Tabitha

In [6]:
for character in "this is a string":
    print(character)

t
h
i
s

i
s

a

s
t
r
i
n
g

## below is a break statement

In [9]:
for num in mylist:
    if num == 4:
        break
    print(num**2)

1
4
9

# continue statement, means skip

In [21]:
fruits = ['apple','banana','orange','cherry']
for x in fruits:
 if x == "orange":
    continue
print(x)

cherry

# tuples below

In [13]:
Tuples = ('apple','banana','cherry')
print(Tuples)
type(Tuples)

('apple', 'banana', 'cherry')

tuple

In [19]:
thistuple = ("apple","banana","cherry")
if 'orange' in thistuple:
    print("yes, 'apple' is in the fruitd tuple")
else : print('i like rice')

i like rice

#### Conditional Statements; are programing language that allows you control the flow of your program based on conditions that you specify.

In [33]:
a = int(input('guess a number: '))
if a == 1:
    print("correct guess")
else: 
    print("incorrect guess")

incorrect guess

# H1

## H2

### H3

#### H4

##### H5

###### H6

# Getting input from the user

In [22]:
name = input('My name is Tabitha')
print('hello,'+ name + '!')

hello,my name is Tabitha!

## Classwork

In [36]:
name = input("what is your name")
age = int(input("how old are you"))
year = 2024-age
print(name + ' was born in September', year ,  'she is', age )

Tabitha was born in September 1996 she is 28